.Pagination {
  display: inline-block;
  margin: 0 auto;
  &Box,
  &BoxActive {
    display: inline-block;
    margin: 0 auto;
    border: solid 1px #eceeef;
    align-items: center;
    padding: 1rem 1.6rem;
    line-height: 1.31;
    font-weight: normal;
  }
  &BoxIcon {
    display: inline-block;
    padding: 0.8rem;
    border: solid 1px #eceeef;
    display: inline-table;
    vertical-align: middle;
  }
  &BoxIcon:first-child {
    align-self: center;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  &BoxIcon:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  &BoxActive {
    background-color: #f3ba2f;
    color: #fff;
  }
}
